{% extends "default.html" %}
{% block body %}
<section class="welcome_area" id="home" style="height: 502px;">
    <div class="mbYTP_wrapper" id="wrapper_mbYTP_video_1485726027913"
         style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 1; transition-property: opacity; transition-duration: 2000ms;">
        <iframe id="mbYTP_video_1485726027913" class="playerBox"
                style="position: absolute; z-index: 0; width: 1633.88px; height: 796px; top: 0px; left: 0px; overflow: hidden; opacity: 1; user-select: none; margin-top: -173px; margin-left: -198.44px; transition-property: opacity; transition-duration: 1000ms;"
                frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="360"
                src="https://www.youtube.com/embed/wZWiRoktNWA?autoplay=0&amp;modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=mbYTP_video_1485726027913&amp;origin=http%3A%2F%2Fdemo.designing-world.com&amp;allowfullscreen=true&amp;wmode=transparent&amp;iv_load_policy=3&amp;html5=1&amp;widgetid=1"
                unselectable="on"></iframe>
        <div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    </div>
    <a class="player mb_YTPlayer isMuted"
       data-property="{videoURL:'https://youtu.be/wZWiRoktNWA',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"
       id="video_1485726027913" style="display: none; position: relative; background-image: none;"></a>
    <div class="single_slide" style="height: 502px;">
        <div class="slide_text">
            <div class="table">
                <div class="table_cell">
                    <h2>An Simple Idea can<span> Change the World</span></h2>
                    <h3>If you don't drive your business, you will be driven out of business.</h3>
                    <div class="welcome_btn">
                        <a class="btn btn-1 btn-default btn-lg active" href="#" role="button">Learn More</a>
                        <a class="btn btn-2 btn-default btn-lg" href="#" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

