{% extends "default.html" %}
{% block body %}
<div class="container">
    <div class="row" style="margin-top:10px;margin-bottom:10px;">
        <div class="col-lg-3 col-sm-2 portfolio-item">
        </div>
        <div class="col-lg-6 col-sm-8 portfolio-item">
            <div class="embed-responsive embed-responsive-16by9 mbl">
                <iframe name="iframe-name" class="embed-responsive-item"
                        src="//www.youtube.com/embed/ZuGHts631vM?&showinfo=0
                        " allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-3 col-sm-2 portfolio-item"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">

            <article class="video">
                <figure>
                    <a target="iframe-name" class="thumbnails"
                       href="//www.youtube.com/embed/zH3ZohGnjcg">
                        <img class="videoThumb"
                             src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                </figure>
                <h3 class="videoTitle">video1</h3>
                <p class="time">6:13</p>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">

            <article class="video">
                <figure>
                    <a target="iframe-name" class="thumbnails"
                       href="//www.youtube.com/embed/_ZSefvtdYiY">
                        <img class="videoThumb"
                             src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                </figure>
                <h3 class="videoTitle">video 2</h3>
                <p class="time">4:36</p>

            </article>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">

            <article class="video">
                <figure>
                    <a target="iframe-name" class="thumbnails"
                       href="//www.youtube.com/embed/_ZSefvtdYiY">
                        <img class="videoThumb"
                             src="https://secure-b.vimeocdn.com/ts/178/010/178010767_295.jpg"></a>
                </figure>
                <h3 class="videoTitle">video 3</h3>
                <p class="time">15:23</p>

            </article>
        </div>
    </div>
</div>
{% endblock %}