{% extends "default.html" %}
{% include "youtube_slider.html" %}

{% block body %}
<!-- Playlist -->
<div class="container">
    <div class="row">
        <div class="vid-list-container">
            <div class="vid-list">
                <div class="vid-item"
                     onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/quoBv9-bogM?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                    <div class="thumb"><img src="static/img/video/Selection_004.png"></div>
                    <div class="desc">#16: Leone's Pizza at 5413 Sinclair Rd (Columbus)</div>
                </div>

                <div class="vid-item"
                     onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/i3uz8ljPf78?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                    <div class="thumb"><img src="static/img/video/Selection_006.png"></div>
                    <div class="desc">#15: Capuano's Pizza House at 24 S Twp Rd (Pataskala)</div>
                </div>
                <div class="vid-item"
                     onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/wlTwaKbvRyY?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                    <div class="thumb"><img src="static/img/video/Selection_005.png"></div>
                    <div class="desc">#14: Flyers Pizza at 121 W Main St (West Jefferson)</div>
                </div>
                <div class="vid-item"
                     onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/NtksBu4rdwM?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                    <div class="thumb"><img src="static/img/video/Selection_007.png"></div>
                    <div class="desc">#13: Amano's at 220 Worthington Mall (Worthington)</div>
                </div>
                <div class="vid-item"
                     onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/jGzAA7altko?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                    <div class="thumb"><img src="static/img/video/Selection_008.png"></div>
                    <div class="desc">#12: Donatos Pizza at 920 N High St (Columbus)</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LEFT AND RIGHT ARROWS -->
<div class="container">
    <div class="row">
        <div class="arrows">
            <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
            <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
        </div>
    </div>
</div>
{% endblock %}